body {
  background-image: url(images/fond.png) ;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: lighter;
}

h1 {
  color:white;
  font-size: 30px ;
}

h2 {
  color: #6324d1
}

.img-circle {
  border-radius: 50%;
}

p {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

.btn-lien {
  background-color: #F4C1C0;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: medium;
  font-size: 20px;
  box-shadow: 0px 30px 50px rgba(0,0,0,.1);
  margin-top: 70px;
  font-weight: normal;
}

.description {
  margin-bottom: 35px;
}

.card-rien {
  padding: 20px;
  margin: 10px auto;
  width: 85%;
}

.card-lorem {
  background-color: white;
  border-radius: 40px;
  box-shadow: 10px 30px 50px rgba(0,0,0,.1);
  padding: 20px;
  margin: 10px auto;
  width: 90%;
}

.paragraphe {
  color: #6324d1;
  font-weight: normal;
}

.container {
  margin: 10px auto;
  width: 30%;
}

.links {
  background-color:transparent;
  padding: 10px;
  margin: 30px auto;
  width: 85%;
}

.links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  size: 50px;
  font-size: 40px;
}

.btn-github {
  color: #F4C1C0;
  padding: 40px, 50px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

.btn-insta {
  color: #F4C1C0;
  padding: 40px, 50px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

.btn-linkedin {
  color: #F4C1C0;
  padding: 40px, 50px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: #6324d1
}
